{% extends 'base.html' %} 

{% block title %}Directions{% endblock %} 
{% block content %} 
<div class="container-spots">
    <div class="row-spotcards">
        <div class="card m-2" id="spot-card">
            <img src="{{skateparks.image_url}}" class="card-img-top" style="height: 10rem;" alt="{{skateparks.name}},{{skateparks.description}}">
            <div class="card-body">
            <h5 class="card-title">{{skateparks.name}}</h5>
            <p class="card-text">{{skateparks.description}}</p>
        </div>
        <ul class="list-group list-group-flush">
        <li class="list-group-item">{{skateparks.address}}</li>
        </ul>    
            <div>
                <iframe
                    id="map"
                    width="500"
                    height="500"
                    style="border:0"
                    loading="lazy"
                    allowfullscreen
                    referrerpolicy="no-referrer-when-downgrade"
                    src="https://www.google.com/maps/embed/v1/directions?key={{key}}
                        &origin={{spot}}&destination={{skateparks.address}}">
                </iframe>
            </div>
        </div>
    </div>
</div>
{% endblock %}