{% extends 'base.html' %}

{% block title %}Edit{% endblock %}
{% block content %}

  <div class="row-edit justify-content-md-center">
    <div class="col-9 col-md-7" id="edit-card">
      <h2 class="m-2">Edit Your Profile.</h2>
      <form method="POST" id="user_form" class="m-2">
        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' and field.name != 'password' %}
          {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
          {% endfor %}
          {{ field(placeholder=field.label.text, class="form-control") }}
        {% endfor %}

        <p>To confirm changes, enter your password:</p>
        {% if form.password.errors %}
          {% for error in form.password.errors %}
            <span class="text-danger">
            {{ error }}
          </span>
          {% endfor %}
        {% endif %}
        {{ form.password(placeholder="Enter your password to confirm", class="form-control") }}

        <div class="edit-btn-area">
          <button class="btn btn-success mt-1">Save Changes</button>
          <a href="/" class="btn btn-outline-secondary mt-1">Cancel</a>
        </div>
      </form>
      
    </div>
  </div>
  

{% endblock %}