{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

  <div class="row justify-content-md-center" id="login">
    <div class="col-9 col-md-7" id="login-box">
      <h2 class="m-2">Welcome back.</h2>

      <form method="POST" id="user_form">
        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' %}
          {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
          {% endfor %}
          {{ field(placeholder=field.label.text, class="form-control") }}
        {% endfor %}

        <button class="btn btn-primary btn-block btn-lg mt-2 mb-2">Log in</button>
      </form>
      <p>For testing purposes <br>
        Username: Test1 <br>
        Password: testing123
      </p>
    </div>
  </div>

{% endblock %}